html, header, body, div, h1, h2, h3, h4, h5, h6, a, nav, ol, ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header{
    background: #fff;
    color: #fff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 150%;
}

h1, h2, h3, .heading3, h4, h5{
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: bold;
}

h2{
    background: #6b4825;
    color: #fff;
    padding: 6px 10px;
    font-size: 32px;
    line-height: 120%;
    margin: 0 0 10px 0;
}

h4{
    color: #6b4825;
    border-left: 4px solid #6b4825;
    padding: 0 6px;
    font-size: 24px;
    line-height: 120%;
    margin: 10px 0;
}
.titleContainer{
    min-width: 1180px;
    margin: 0 auto;
}

.titleBackground{
    background-color: #000;
    background-image: url("/WebsiteClone/images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 320px;
}

.titleContentBG::before{
    height: 2px;
    top: 5px;
    background: -moz-linear-gradient(left, #784f0e 0%, #d4ad45 50%, #784f0e 100%);
}

.titleContentBG::after{
    height: 1px;
    top: 7px;
    background: -moz-linear-gradient(left, #472c07 0%, #826224 50%, #472c07 100%);
}

.titleContentBG::before,
.titleContentBG:after{
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
}

.titleContentBG{
    position: relative;
    top: 196px;
    left: 0;
    background-image: url("/WebsiteClone/images/header_bar.png");
    background-position: center center;
    background-repeat: repeat-x;
    min-width: 1180px;
    max-height: 127px;
    margin: 0 auto;
}

.titleContent{
    color: #fff;
    width: 1060px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 120%;
    padding: 24px 0;
}

.info{
    margin: 0 0 100px 0;
}

.headerNav{
    background-color: #000;
    min-width: 1180px;
    display: block;
}

.navBG{
    position: relative;
    word-break: break-all;
    width: 1060px;
    min-height: 32px;
    margin: 0 auto;
    padding: 6px 0 2px 0;
    background-color: #000;
}

.navItem{
    display: block;
    width: 760px;
    word-break: break-all;
    margin-top: 2px;
}

.contentBody{
    background-color: #000;
    background-image: url("/WebsiteClone/images/bg_1.png");
    background-repeat: no-repeat;
    background-position: center top;
    min-width: 1180px;
    min-height: 1280px;
}

.contents{
    background-image: url("/WebsiteClone/images/bg_2.png");
    background-repeat: repeat-y;
    background-position: center center;
    padding: 40px 0 40px 40px;
    width: 1140px;
    min-height: 1280px;
    margin: 0 auto;
}

.innerContents{
    width: 1140px;
}

.leftCenter{
    float: left;
    width: 760px;
    margin-left: 20px;
}

.mainCenter{
    float: right;
}

.mainContent{
    background-color: #fff;
    width: 470px;
    margin: 0 20px;
    box-shadow: 0px 0px 4px #ccc;
}

.mainContentTable{
    display: table;
    width: 450px;
    height: 50px;
}

.tr{
    display: table-row;
}

.td{
    display: table-cell;
    border: 1px solid #666;
    padding: 10px 10px 15px 5px;
    max-width: 100px;
    text-align: center;
    font-size: 14px;
}

.lastUpdated{
    color: #666;
    margin: 0 10px 18px 0;
    font-size: 14px;
    text-align: right;
}

.mainContentBody{
    padding: 12px;
}

.SOTBTF{
    width: 300px;
    border: 0;
}

#content{
    width: 100%;
}

.menubar{
    background-color: #fff;
    box-shadow: 0px 0px 4px #ccc;
    width: 226px;
    padding: 20px 12px 12px 12px;
    float: left;
    display: block;
}

.sidemenuTitle{
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: bold;
    color: #6b4825;
    border-bottom: 1px solid #6b4825;
    font-size: 23px;
    padding-bottom: 20px;
    margin-bottom: 12px;
    max-height: 24px;
}

.title1::after{
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: inherit;
    right: 12px;
    background: url("/WebsiteClone/images/sign_bottom.png");
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

.sidemenuContainer{
    clear: both;
}

.userArea{
    padding: 0px;
}

.title1{
    position: relative;
    margin-bottom: 12px;
}

.heading3{
    background: #f5f5f5;
    color: #6b4825;
    padding: 12px;
    font-size: 20px;
    line-height: 120%;
}

.sideMenuRight{
    margin-right: 0;
    width: 300px;
    float: left;
}

.rightUpdate .rightTitle{
    color: #6b4825;
    background-color: #fff;
    border-bottom: 1px solid #6b4825;
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 23px;
}

.rightUpdate{
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #ccc;
    width: auto;
    padding: 12px 12px 40px 12px;
}

.rightTitle{
    padding: 6px 10px;
    line-height: 120%;
    margin: 0px 0px 10px 0px;
}

ol, ul{
    list-style: none;
}

.rightUpdate li{
    border-bottom: 1px Solid #eee;
    padding: 12px 0;
}

.rightUpdate p{
    color: #666;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 12px;
}

.rightUpdate a{
    color: #000888;
    font-size: 16px;
    line-height: 120%;
}

.rightUpdate .rightPopular{
    background-image: url("/WebsiteClone/images/sign_right.png");
    background-repeat: no-repeat;
    background-position: 0 40%;
    padding: 12px 0 12px 12px;
    font-size: 16px;
    line-height: 100%;
    text-decoration: underline;
    border-bottom: none;
    float: right;
}
.rightPouplar{
    color: #6b4825;
    background-color: #ccc;
    border-bottom: 1px solid #6b4825;
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 23px;
}

.rightCommented{
    color: #6b4825;
    background-color: #ccc;
    border-bottom: 1px solid #6b4825;
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 23px;
}