*{
    box-sizing: border-box;
}

body{
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    color: #777;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
}

.legal{
    right: 150px;
}

.social{
    justify-content: flex-end;
    width: 100%;
    position: relative;
    display: flex;
    align-items: right;
}

.bannerLogo{
    width: 250px;
    margin-left: 0px;
    margin-right: 30px;
    line-height: 1;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.story1{
    position: relative;
    text-align: center;
}